html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.locales-table-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.content-wrapper {
    background: #fff;
}

.locales-table td {
    padding: 0 !important;
    height: 30px;
}

.locales-table btn {
    height: 30px;
    display: block;
    width: 30px;
}
.locales-table input {
    height: 30px;
    display: block;
    width: 100%;
}
.landings-form .sort-handle {
    width: 50px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 20px;

    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    border-right: none;
}
.landings-form .select-area {
    width: 400px;
    position: relative;
    left: -6px;
}
.landings-form .step-item {
    margin-bottom: 7px;
}
.landings-form .item-wrapper {

}

table .locales-table__sort-handle {
    text-align: center;
    padding-top: 5px !important;
}

.template-editor__legends {
    margin-top: 15px;
}
.template-editor__legends pre {
    margin: 0 10px 0 0;
    padding: 3px;
    float: left;
}
.template-editor__legends .legend-item {
    margin-bottom: 8px;
    overflow: hidden;
    line-height: 26px;
}
.template-editor__legends__description {
    font-size: .9em;
    float: left;
}
.open-link {
    margin: 15px 0 15px;
}
.open-link span{
    line-height: 39px;
    font-weight: bold;
    vertical-align: top;
}
.open-link pre {
    display: inline-block;
}
